* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #10171e;
  color: #fff;
  font-size: 16px;
  word-spacing: 1px;
  .App {
    .all-users {
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-basis: auto;
      flex-wrap: wrap;
      div {
        flex: 0 1 24%;
        margin-top: 20px;
      }
    }
  }
}

/* Transition */
.slide-up-appear {
  opacity: 0;
  transform: translateY(100px);
  transition: all .6s ease-in;
  
  &.slide-up-appear-active {
      opacity: 1;
      transform: translateY(0px);
  }
}